body {
    font-family: Arial, sans-serif;
    background-color: #F0F5F9;
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('loginback.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

label {
    text-align: left;
    display: block;  
    margin-bottom: 0;
    padding-bottom: 0; 
    font-size: 14px; 
}

form {
    background-color: #61707790;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

input {
    width: 450px;
    padding: 10px;
    margin: 0; 
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    box-sizing: border-box;
}

input::placeholder {
    color: #888; 
}


button {
    background-color: #52616B;
    color: white;
    border: none;
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1E2022;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

@media (max-width: 600px) {
    input {
        width: 90%;
    }
    button {
        width: 90%;
    }
}
.password-wrapper {
    position: relative;
    
}

#password {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

#showPassword {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 120px;
}

label[for="showPassword"] {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 14px;
}


.title-wrapper {
    width: 100%; 
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.title-wrapper h1 {
    font-size: 50px; 
    font-weight: bold;
    color: #52616B;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0; 
}


