ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1E2022;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 66px;
    z-index: 1000;
    display: flex;
    align-items: center; /* Vertically center items */
}

body {
    background-color: #F0F5F9;
    margin: 0;
}

.logo a {
    text-decoration: none;
    color: white;
    font-family: 'Norwester', sans-serif;
    margin: 0; /* Remove default margin */
    font-size: 32px; /* Increase font size */
    padding: 0px 110px 0px 155px; /* Add padding to expand height */
    letter-spacing: 1px; /* Add letter spacing to make it appear longer */
}

.logo {
    margin-left: 15px; /* Adjust spacing from the left edge */
}


li {
    float: none; /* Clear float to use flex */
    display: inline-block;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    background-color: #52616B;
    text-align: center;
    color: white;
    padding: 25px 35px 30px 20px; /* Adjust padding for better fit */
    text-decoration: none;
    font-family: Norwester;
}

li.right {
    margin-left: auto; /* Use flexbox for alignment */
}

li a:hover {
    background-color: #52616B;
    color: yellow;
}

a {
    color: black;
    font-size: 20px;
}

/* Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Media Query for Mobile */
@media screen and (max-width: 768px) {
    .column {
        width: 100%;
    }

    ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    li a {
        padding: 15px;
    }

    .logo {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }
}
